.linkDecoration {
  color: rgba(92, 92, 92, 0.892) !important;
  text-decoration: none;
}
@media (min-width: 320px) {
  .exibition-images {
    width: 10rem ;
    height: 10rem ;
    object-fit: cover ;
  }
  .exibition-poster-images{
    width: 43vh;
    height: 43vh;
    object-fit: cover;
  }
}
@media (min-width: 481px) {
  .exibition-images {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
  .exibition-poster-images{
    width: 20vh;
    height: 20vh;
    object-fit: cover;
  }
}
@media (min-width: 641px) {
  .exibition-images {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
  }
  .exibition-poster-images{
    width: 20vh;
    height: 20vh;
    object-fit: cover;
  }
}
@media (min-width: 961px) {
  .exibition-images {
    width: 20vh;
    height: 20vh;
    object-fit: cover;
  }
  
  .exibition-poster-images{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
  }
}
@media (min-width: 1025px) {
  .exibition-images {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
  }
  .exibition-poster-images{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
  }
}
@media (min-width: 1281px) {
  .exibition-images {
    width: 30vh;
    height: 30vh;
    object-fit: cover;
  }
  .exibition-poster-images{
    width: 30vh;
    height: 30vh;
    object-fit: cover;
  }
}
